
*,
*:before,
*:after{
margin:0;
padding:0;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}
html{
    
}
body{
    
}
.story{
    
}
h1{
    
}
p{
    
}
footer{
    color: white;
    background: rgba(0,0,0,.6);
    display: inline-block;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
