
*,
*:before,
*:after{
margin:0;
padding:0;
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}
html{
   background: rgb(234, 52, 52); 
}
body{
    color: white;
}
.story{
    
}
h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: 2s opacity;
    opacity: 1;
}
h1{}
p{
   padding: 2%; 
}
.intro{
    height: 1000px;
    width: 100%;
    background: url("../img/doggo.jpg") no-repeat center center fixed;
    background-size: cover;
}
h1{
    padding-top: 40%;
}
.storysection{
    height: 1000px;
    width: 100%;
    background: url("../img/putin.svg") no-repeat center center fixed;
    background-size: cover;
    vertical-align: middle;
}
.storysection p{
        background: rgba(0,0,0,.6);      
}
#1{
        background: url("../img/putin.svg") no-repeat center center fixed;
        background-size: cover;
}
#2{
        background: url("../img/putin.svg") no-repeat center center fixed;
        background-size: cover;
}
#3{
        background: url("../img/putin.svg") no-repeat center center fixed;
        background-size: cover;
}
#4{
        background: url("../img/putin.svg") no-repeat center center fixed;
        background-size: cover;
}
#5{
        background: url("../img/putin.svg") no-repeat center center fixed;
        background-size: cover;
}
#6{
        background: url("../img/putin.svg") no-repeat center center fixed;
        background-size: cover;
}
#7{
        background: url("../img/putin.svg") no-repeat center center fixed;
        background-size: cover;
}
#8{
        background: url("../img/putin.svg") no-repeat center center fixed;
        background-size: cover;
}
#9{
        background: url("../img/putin.svg") no-repeat center center fixed;
        background-size: cover;
}
#10{
        background: url("../img/putin.svg") no-repeat center center fixed;
        background-size: cover;
}
#11{
        background: url("../img/putin.svg") no-repeat center center fixed;
        background-size: cover;
}
#12{
        background: url("../img/putin.svg") no-repeat center center fixed;
        background-size: cover;
}

footer{
    color: white;
    background: rgba(0,0,0,.6);
    display: inline-block;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 5px;
}
